CONFIG=/opt/jitsi/.jitsi-meet-cfg
TZ=Europe/Rome
HTTP_PORT=8000
HTTPS_PORT=8443
PUBLIC_URL=https://<YOUR_DOMAIN>
PUBLIC_DOMAIN=<YOUR_DOMAIN>
JVB_ADVERTISE_IPS=<SERVER_PUBLIC_IP>

DISABLE_HTTPS=1
ENABLE_HTTP_REDIRECT=0
ENABLE_LETSENCRYPT=0
ENABLE_WELCOME_PAGE=0

ENABLE_AUTH=1
ENABLE_GUESTS=0
AUTH_TYPE=jwt
ENABLE_AUTO_OWNER=0
XMPP_MUC_MODULES=token_moderation,corabea_call_events
JWT_APP_ID=corabea
JWT_APP_SECRET=<JWT_APP_SECRET>

JICOFO_AUTH_PASSWORD=
JVB_AUTH_PASSWORD=
JIGASI_XMPP_PASSWORD=
JIGASI_TRANSCRIBER_PASSWORD=

ENABLE_TRANSCRIPTIONS=true
JIGASI_TRANSCRIBER_CUSTOM_SERVICE=org.jitsi.jigasi.transcription.VoskTranscriptionService
JIGASI_TRANSCRIBER_VOSK_URL=ws://null-stt:2700
JIGASI_TRANSCRIBER_RECORD_AUDIO=true

ENABLE_RECORDING=0

S3_HOST=https://<ACCESS_KEY>:<SECRET_KEY>@s3.corabea.it
S3_BUCKET=corabea
S3_PREFIX=recordings

CORABEA_CALL_EVENTS_URL=https://<BACKEND>/webhooks/prosody
CORABEA_CALL_EVENTS_SECRET=<CALL_EVENTS_SECRET>
CORABEA_AUTO_TRANSCRIPTION=true
CORABEA_AUTO_TRANSCRIPTION_TYPES=CALL_CONOSCITIVA

TURN_HOST=<YOUR_DOMAIN>
TURN_PORT=3478
TURN_TRANSPORT=udp,tcp
TURN_CREDENTIALS=<TURN_SHARED_SECRET>

CODEC_ORDER_JVB=["VP8","VP9","H264","AV1"]
CODEC_ORDER_JVB_MOBILE=["VP8","VP9","H264","AV1"]
ENABLE_SIMULCAST=true

ENABLE_CLOSE_PAGE=true
